{% extends 'base.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block body %}
    <h1>Creer un client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client_index') }}">Retour</a>
{% endblock %}
