{% extends 'base.html.twig' %}

{% block title %}Nouveau vehicule{% endblock %}

{% block body %}
    <h1>Creer un vehicule</h1>

    {{ include('vehicule/_form.html.twig') }}

    <a href="{{ path('vehicule_index') }}">Retour</a>
{% endblock %}
